{% extends 'index.html' %}

{% block progress %}
    <p>추출하고 있습니다... 잠시만 기다려주세요.</p>
    <p class="lead">
    <div class="row justify-content-center">
        <div class="col-9 col-sm-7 col-md-5">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress"></div>
            </div>
        </div>
    </div>
    </p>
{% endblock %}

{% block result %}
    <div class="row justify-content-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <textarea class="form-control" id="log"></textarea>
    </div>
{% endblock %}